@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F16F03;
  background: -webkit-linear-gradient(bottom, #F16F03, #FFB408);
  background: -moz-linear-gradient(bottom, #F16F03, #FFB408);
  background: linear-gradient(to top, #F16F03, #FFB408);
}